* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.red__container__div {
	position: relative;
	display: inline-block;
}

.smaller_red_container_div {
	position: absolute;
	display: flex;
	width: 100%;
	align-items: center;
	padding: 20px;
}

.timer__container {
	background-color: black;
	width: 100px;
	height: 50px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	border: 4px solid white;
}

.player__health__container {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	border-top: 4px solid white;
	border-left: 4px solid white;
	border-bottom: 4px solid white;
}

.player__health--container {
	background-color: red;
	height: 30px;
	width: 100%;
}

.player__health {
	position: absolute;
	background: #818cf8;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

.enemy__health__container {
	position: relative;
	width: 100%;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	border-right: 4px solid white;
}

.enemy__health--container {
	background-color: red;
	height: 30px;
}

.enemy__health {
	position: absolute;
	background: #818cf8;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.tie__round {
	position: absolute;
	color: #fff;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}
